<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2e06e">  <td>21/12/28 17:23:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PSHExtentReport.setup()[pri:0, instance:PSHExtentReport.Reports.PSHExtentReport@251c4280]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1399794302</td>   <td></td> </tr>
<tr bgcolor="a2e06e">  <td>21/12/28 17:23:55</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PSHExtentReport.startPSH(java.lang.String, java.lang.String)[pri:0, instance:PSHExtentReport.Reports.PSHExtentReport@251c4280]">startPSH</td> 
  <td>main@1399794302</td>   <td></td> </tr>
</table>
