<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteBTRE2E</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4de6a">  <td>21/03/11 17:52:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main_Controller2.startPSH(java.lang.String, java.lang.String)[pri:0, instance:MainController.Main_Controller2@11c20519]">startPSH</td> 
  <td>TestNG@1728634901</td>   <td></td> </tr>
<tr bgcolor="b4de6a">  <td>21/03/11 17:52:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Main_Controller2.startPSH(java.lang.String, java.lang.String)[pri:0, instance:MainController.Main_Controller2@6c3f5566]">startPSH</td> 
  <td>TestNG@1841228154</td>   <td></td> </tr>
</table>
