<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9884b2">  <td>21/09/30 15:55:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGEntryClass.setup()[pri:0, instance:MainController.TestNGEntryClass@3159c4b8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@882286463</td>   <td></td> </tr>
<tr bgcolor="9884b2">  <td>21/09/30 15:55:44</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGEntryClass.startPSH(java.lang.String, java.lang.String)[pri:0, instance:MainController.TestNGEntryClass@3159c4b8]">startPSH</td> 
  <td>TestNG@882286463</td>   <td></td> </tr>
</table>
